<h1>新增學生</h1>

  <%= form_for(@final) do |f| %>
    <%= f.label :name, "姓名" %>
    <%= f.text_field :name %> <br />

    <%= f.label :age, "學號" %>
    <%= f.text_field :age %> <br />

    <%= f.label :party, "成績" %>
    <%= f.text_field :party %> <br />

    <%= f.submit %>
  <% end %>

  <br />
  <%= link_to '回候學生列表', finals_path %>